
<div class="container">
  <p class="your-trip">Trajet : <%= @trips.first.departure_station %>
    <i class="fas fa-arrow-right"> </i>
    <%= @trips.first.arrival_station %>
  </p>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <div class="trip-card-fix">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-4"><%= @trips.first.departure_date.strftime('%a %d %b %Y') %></div>
              <div class="col-xs-2">Tarif individuel</div>
              <div class="col-xs-2">Tarif groupé</div>
              <div class="col-xs-4"></div>
            </div>
          </div>
        </div>
        <div class="flex-contain">
        <% @trips.each do |trip| %>
          <div class="trip-card">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-4">
                  <div class="flex-heure-start-end">
                    <p> <%= trip.departure_date.strftime('%H:%M') %> </p>
                    <div class="flex-arrow-duration">
                      <p> <i class="fas fa-arrow-right"></i> </p>
                      <span>
                        <%= trip.duration %>
                      </span>
                    </div>
                    <p> <%= trip.arrival_date.strftime('%H:%M') %> </p>
                  </div>
                </div>
                <div class="col-xs-2">None</div>
                <div class="col-xs-2"><%= trip.individual_price %>€</div>
                <div class="col-xs-4">
                  <%= link_to trip_path(trip), class: "btn btn-success" do %>
                    <div class="hidden-xs">
                      Continuer
                    </div>
                    <div class="hidden-md">
                      <i class="fas fa-arrow-right"></i>
                    </div>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

