<div class="container">
  <div class="flex-fix-departure-at">
    <p> Date de départ</p>
  </div>
      <% @trips.each do |trip| %>
        <div class="flex-card">
          <div class="flex-heure-start-end">
            <p> <%= trip.departure_at.strftime('%H:%M') %>
            <i class="fas fa-arrow-right"></i>
              <%= trip.arrival_at.strftime('%H:%M')  %>
            </p>
          </div>
          <div class="flex-station-start-end">
            <p>Gare de départ :
              <%= trip.station_departure %>
            </p>
            <p>Gare d'arrivée :
              <%= trip.station_arrival %>
            </p>
          </div>
          <div class="flex-tarifs">
            <p>Tarif individuel :
              <%= trip.individual_price %>
            </p>
            <p>Tarif de groupe :
              <%= trip.group_price_per_user %>
            </p>
          </div>
        </div>
      <% end %>
</div>




<!-- <div class="col-md-6 col-sm-6 col-left">
            <div class="line-degrade">
              <div class="line">
                <span class="station-dep">07h04</span>
                <span class="station-arr">09h08</span>
              </div>
              <div class="line-deg">
                <div class="duration">2H04</div>
              </div>
              <div class="line">
                <span class="station-dep">Saint Jean</span>
                <span class="station-arr">Montparnasse</span>
              </div>
            </div>
            <div class="cont-dest">
              <div class="cont-stations">

                <p class="train-infos">TGV 8402 - Direct - classe 2</p>
              </div>
            </div>
          </div>
 -->
