
<div class="container">
  <p class="your-trip">Trajet : <%= @trips.first.departure_station %>
    <i class="fas fa-arrow-right"> </i>
    <%= @trips.first.arrival_station %></p>
  <div class="row">
    <div class="col-xs-12">

        <div class="trip-card-fix">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-3"><%= @trips.first.departure_date.strftime('%a %d %b %Y') %></div>
              <div class="col-xs-3">Tarif individuel</div>
              <div class="col-xs-3">Tarif groupé</div>
              <div class="col-xs-3"></div>
            </div>
          </div>
        </div>
        <% @trips.each do |trip| %>
          <div class="trip-card">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-3">
                  <div class="flex-heure-start-end">
                    <p> <%= trip.departure_date.strftime('%H:%M') %> </p>
                    <div class="flex-arrow-duration">
                      <p> <i class="fas fa-arrow-right"></i> </p>
                      <span>
                        <%= trip.duration %>
                      </span>
                    </div>
                    <p> <%= trip.arrival_date.strftime('%H:%M') %> </p>
                  </div>
                </div>
                <div class="col-xs-3">None</div>
                <div class="col-xs-3"><%= trip.individual_price %>€</div>
                <div class="col-xs-3"><%= link_to "Continuer", user_session_path, class: "btn btn-success" %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

