<div class="container">
   <div class="row">
    <div class="col-xs-12 col-md-10-offset-2 col-lg-8-offset-4">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending Tickets</a></li>
        <li role="presentation"><a href="#paid" aria-controls="paid" role="tab" data-toggle="tab">Paid Tickets</a></li>
        <li role="presentation"><a href="#refused" aria-controls="refused" role="tab" data-toggle="tab">Refused Tickets</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="pending">
        <%  @user_pending_bookings.each do |booking| %>
          <div class="trip-card">
            <div class="row">
              <div class="container-fluid">
                <div class="col-xs-2"><p>Date</p></div>
                <div class="col-xs-3"><p>Gare départ <i class="fas fa-arrow-right"></i> Gare arrivée</p></div>
                <div class="col-xs-3"><p>Heure départ <i class="fas fa-arrow-right"></i> Heure arrivée</p></div>
                <div class="col-xs-2"><p>Notre prix</p></div>
              </div>
            </div>
            <hr style="margin-top:0;margin-bottom:10px;width:100%;border-bottom:1px solid #00be9a;">
            <div class="container-fluid">
            <div class="row">
              <div class="hidden-xs">
                <div class="col-xs-2">
                  <p><i class="far fa-calendar-alt"></i> <%= booking.trip.departure_at.strftime('%a %d %b %Y') %> </p>
                  <p><i class="fas fa-train"></i> TGV <%= booking.trip.train_number %> </p>
                  <p><i class="fas fa-stopwatch"></i> Temps restant: <span style="color:red; font-weight:bold;"><%= (booking.trip.departure_at - Time.now.day + 7 ).day%>j <%= (booking.trip.departure_at - Time.now.hour).hour%>h <%= (booking.trip.departure_at - Time.now.min).min %>min <%= (booking.trip.departure_at - Time.now.sec).sec %>secondes</span></p>
                </div>
              </div>
              <div class="col-xs-3">
                <p><i class="fas fa-globe"></i> <%= booking.trip.station_departure %> <i class="fas fa-arrow-right"></i> <%= booking.trip.station_arrival %></p>
              </div>
              <div class="col-xs-3">
                <i class="far fa-clock"></i>
                <%= booking.trip.departure_at.strftime('%H:%M') %> <i class="fas fa-arrow-right"></i> <%= booking.trip.arrival_at.strftime('%H:%M') %></p>
                <span><i class="fas fa-stopwatch"></i> Temps voyage: <%= booking.trip.duration %></span>
              </div>
              <div class="col-xs-2">
                <p><i class="fas fa-angle-right"></i> <%= booking.trip.individual_group_price_cents %>.0€</p>
                <p style="color:#00be9a;">
                <i class="fas fa-angle-double-right"></i> Economie: <span style="font-weight:bold; border-bottom: 1px solid red;"><%= booking.trip.individual_sncf_price_cents - booking.trip.individual_group_price_cents %>.0€</span>
                </p>
              </div>
              <div class="col-xs-2">
                <p style="font-weight:bold;margin-bottom:50px;"> <i class="fas fa-users"></i> Places restantes: <%= 10 - booking.trip.bookings.count.to_i %>/10</p>
                <%= link_to "Annuler ce billet", booking_path(booking), method: :delete, data: { confirm: "Etes vous sûr de vouloir annuler ce billet ?" }, class: "btn btn-warning btn-xs", style: "margin-left:30px;" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

        <div role="tabpanel" class="tab-pane" id="paid">
        <%  @user_paid_bookings.each do |booking| %>
          <div class="trip-card">
            <div class="row">
              <div class="container-fluid">
                <div class="col-xs-2"><p>Date</p></div>
                <div class="col-xs-3"><p>Gare départ <i class="fas fa-arrow-right"></i> Gare arrivée</p></div>
                <div class="col-xs-3"><p>Heure départ <i class="fas fa-arrow-right"></i> Heure arrivée</p></div>
                <div class="col-xs-2"><p>Notre prix</p></div>
              </div>
            </div>
            <hr style="margin-top:0;margin-bottom:10px;width:100%;border-bottom:1px solid #00be9a;">
            <div class="container-fluid">
            <div class="row">
              <div class="hidden-xs">
                <div class="col-xs-2">
                  <p><i class="far fa-calendar-alt"></i> <%= booking.trip.departure_at.strftime('%a %d %b %Y') %> </p>
                  <p><i class="fas fa-train"></i> TGV <%= booking.trip.train_number %> </p>
                </div>
              </div>
              <div class="col-xs-3">
                <p><i class="fas fa-globe"></i> <%= booking.trip.station_departure %> <i class="fas fa-arrow-right"></i> <%= booking.trip.station_arrival %></p>
              </div>
              <div class="col-xs-3">
                <i class="far fa-clock"></i>
                <%= booking.trip.departure_at.strftime('%H:%M') %> <i class="fas fa-arrow-right"></i> <%= booking.trip.arrival_at.strftime('%H:%M') %></p>
                <span><i class="fas fa-stopwatch"></i> Temps voyage: <%= booking.trip.duration %></span>
              </div>
              <div class="col-xs-2">
                <p><i class="fas fa-angle-right"></i> <%= booking.trip.individual_group_price_cents %>.0€</p>
                <p style="color:#00be9a;">
                <i class="fas fa-angle-double-right"></i> Economie: <span style="font-weight:bold; border-bottom: 1px solid red;"><%= booking.trip.individual_sncf_price_cents - booking.trip.individual_group_price_cents %>.0€</span>
                </p>
              </div>
              <div class="col-xs-2">
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>


        <div role="tabpanel" class="tab-pane" id="refused">
        <%  @user_refused_bookings.each do |booking| %>
          <div class="trip-card">
            <div class="row">
              <div class="container-fluid">
                <div class="col-xs-2"><p>Date</p></div>
                <div class="col-xs-3"><p>Gare départ <i class="fas fa-arrow-right"></i> Gare arrivée</p></div>
                <div class="col-xs-3"><p>Heure départ <i class="fas fa-arrow-right"></i> Heure arrivée</p></div>
                <div class="col-xs-2"><p>Notre prix</p></div>
              </div>
            </div>
            <hr style="margin-top:0;margin-bottom:10px;width:100%;border-bottom:1px solid #00be9a;">
            <div class="container-fluid">
            <div class="row">
              <div class="hidden-xs">
                <div class="col-xs-2">
                  <p><i class="far fa-calendar-alt"></i> <%= booking.trip.departure_at.strftime('%a %d %b %Y') %> </p>
                  <p><i class="fas fa-train"></i> TGV <%= booking.trip.train_number %> </p>
                </div>
              </div>
              <div class="col-xs-3">
                <p><i class="fas fa-globe"></i> <%= booking.trip.station_departure %> <i class="fas fa-arrow-right"></i> <%= booking.trip.station_arrival %></p>
              </div>
              <div class="col-xs-3">
                <i class="far fa-clock"></i>
                <%= booking.trip.departure_at.strftime('%H:%M') %> <i class="fas fa-arrow-right"></i> <%= booking.trip.arrival_at.strftime('%H:%M') %></p>
                <span><i class="fas fa-stopwatch"></i> Temps voyage: <%= booking.trip.duration %></span>
              </div>
              <div class="col-xs-2">
                <p><i class="fas fa-angle-right"></i> <%= booking.trip.individual_group_price_cents %>.0€</p>
                <p style="color:#00be9a;">
                <i class="fas fa-angle-double-right"></i> Economie: <span style="font-weight:bold; border-bottom: 1px solid red;"><%= booking.trip.individual_sncf_price_cents - booking.trip.individual_group_price_cents %>.0€</span>
                </p>
              </div>
              <div class="col-xs-2">
              </div>
            </div>
          </div>
        </div>
      <% end %>
        </div>
        </div>
      </div>
    </div>
</div>

<!--   <div id="reviews">
    <% if @reviews.blank? %>
      Leave a review
      <%= render 'reviews/review_form', review: @review %>
    <% else %>
      <% @reviews.each do |review| %>
        <%= render 'reviews/review_style', review: @review %>
      <% end %>
    <% end %>
  </div>
</div> -->
