<div class="banner">
  <div class="banner-content">
    <h1><span>Groupe en Train</span></h1>
      <div class="row">
        <div class="col-xs-12 col-sm-10-offset-2 col-md-10-offset-2 ">
          <%= simple_form_for :search, url: trips_path, method: :get do |f|  %>
            <%= f.input :station_departure, required: true, autofocus: true %>
            <%= f.input :station_arrival, required: true, autofocus: true %>
            <%= f.input :departure_at, as: :date, required: true, autofocus: true, html5: true %>
            <%= f.input :arrival_at, as: :date, required: true, autofocus: true, html5: true %>
            <%= f.button :submit  %>
          <% end %>
      </div>
    </div>
  </div>
<!-- <a href="#description"><i class="fa fa-angle-down arrow"></i></a> -->
</div>
