<div class="hidden-xs hidden-sm hidden-md">
  <div class="grid">

    <div class="treatout">
      <h1 id="relative">Réservez votre billet de train.</h1>
      <p>Économisez jusqu'à 60% en accédant facilement au tarif de groupe.</p>
    </div>
    <div class="image parallax">


    </div>
  </div>
  <div id="absolute" class="form-search">
    <h2>Quel est votre trajet ?</h2>
    <%= simple_form_for :search, url: trips_path, size: 50, method: :get do |f|  %>
      <%= f.input :station_departure, label: 'Gare de départ', required: true, autofocus: true, placeholder: "Départ: " %>
      <%= f.input :station_arrival, label: "Gare d'arrivée", required: true, autofocus: true, placeholder: "Arrivée:" %>
      <%= f.input :departure_at, as: :date, label: "Date du départ", required: true, autofocus: true, as: :string, input_html: {class: "datepicker"}, placeholder: "Date de départ" %>
      <%= f.button :submit, "Rechercher", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<div class="visible-xs visible-sm visible-md">
  <div class="treatout-xs">
    <h1>Réservez votre billet de train.</h1>
    <p>Économisez jusqu'à 60% en accédant facilement au tarif de groupe.</p>
  </div>
  <div class="form-search-xs">
    <h2>Quel est votre trajet ?</h2>
    <%= simple_form_for :search, url: trips_path, method: :get do |f|  %>
      <%= f.input :station_departure, label: 'Gare de départ', required: true, autofocus: true, placeholder: "Départ: " %>
      <%= f.input :station_arrival, label: "Gare d'arrivée", required: true, autofocus: true, placeholder: "Arrivée:" %>
      <%= f.input :departure_at, as: :date, label: "Date du départ", required: true, autofocus: true, as: :string, input_html: {class: "datepicker"}, placeholder: "Date de départ" %>
      <%= f.button :submit, "Rechercher", class: "btn btn-success" %>
    <% end %>
  </div>
</div>


<div class="wrapper">
  <div class="container">
    <div class="cards">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 slog">
          <h2>Achat groupé de billet de train.</h2>
          <p>La grande vitesse à petit prix.</p>
          <hr style="border-bottom:1px solid black;">
        </div>
      </div>
      <div class="row explains steps">
        <div class="col-lg-4">
          <div class="card">
            <%= image_tag "step-1.jpg", width: '100%', height: 170  %>
            <div class="card-body">
              <h3>1. Réservez simplement un billet.</h3>
              <p>En réservant un billet, vous rejoignez automatiquement un groupement d'achat composé de <strong>10 personnes.</strong></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
          <%= image_tag "step-2.jpg", width: '100%', height: 170 %>
            <div class="card-body">
              <h3>2. Recevez votre billet par e-mail.</h3>
              <p>Vous recevez votre billet par e-mail lorsque 10 personnes rejoignent le groupement d'achat. Vous avez jusqu'à <strong>7 jours</strong> avant la date de départ pour compléter le groupe.</p>
                <p>Vous n'êtes débité qu'à la réception du billet.</p>
              </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
          <%= image_tag "step-3.jpg",  width: '100%', height: 170%>
            <div class="card-body">
              <h3>3. Prenez votre TGV comme d'habitude.</h3>
              <p>C'est <strong>économique</strong>,<strong> simple </strong>et <strong>rapide</strong>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <% if @bookings.nil? || @bookings.empty? %>
    <% else %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 slog">
      <h2>Train sur le depart</h2>
      <p style="margin: 0;">Plus que 4 places disponibles sur ces trajets !</p>
      <hr style="border-bottom:1px solid black;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-8 col-lg-offset-2">
      <div class="trip-card-fix">
        <div class="container-fluid">
          <div class="col-xs-4">Date</div>
            <div class="col-xs-3">
              Trajet
            </div>
            <div class="col-xs-3">
              Prix groupé
            </div>
        </div>
      </div>
    </div>
  </div>

    <% @bookings.each do |booking| %>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-8 col-lg-offset-2">
        <div class="trip-card-booking">
        <div class="container-fluid">
          <div class="row gare-depart-arrive">
                          <div class="col-xs-3">
                <%= booking.trip.departure_at.localtime.strftime('%a %d %b %Y') %>
              </div>
            <div class="col-xs-4">
              <%= booking.trip.station_departure %>
              <i>
                <%= image_tag 'icon-train.png', height:'25px' %>
              </i>
                <%= booking.trip.station_arrival %>
            </div>
          </div>
          <div class="row">
            <div class="hidden-xs">
              <div class="col-xs-3"></div>
              <div class="col-xs-4">
                <div class="flex-heure-start-end">
                  <p>
                    <%= booking.trip.departure_at.strftime('%H:%M') %>
                  </p>
                  <div class="flex-arrow-duration">
                    <p>
                      <i class="fas fa-arrow-right"></i>
                    </p>
                    <span>
                      <%= booking.trip.duration %>
                    </span>
                  </div>
                  <p> <%= booking.trip.arrival_at.strftime('%H:%M') %> </p>
                </div>
              </div>
            </div>
            <div class="visible-xs">
              <div class="col-xs-4">
                <div class="flex-heure-start-end-xs">
                  <p> <%= booking.trip.departure_at.strftime('%a %d %b %Y') %> </p>
                    <div class="flex-arrow-duration">
                      <p>
                        <%= booking.trip.arrival_at.strftime('%a %d %b %Y') %>
                      </p>
                    </div>
                  <span class="duration-xs"><%= booking.trip.duration %> </span>
                </div>
              </div>

            </div>

            <div class="col-xs-2"><strong><%= booking.trip.individual_group_price_cents %>.0€</strong></div>
            <div class="col-xs-2">
              <%= link_to "Rejoindre", booking_path(booking), class: "btn btn-success" %>
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

