<div class="hidden-xs hidden-sm hidden-md">
  <div class="grid">

    <div class="treatout">
      <h1 id="relative">Réservez votre billet de train</h1>
      <p>Économisez jusqu'à 60% en accédant facilement au tarif de groupe</p>
    </div>
    <div class="image">
      <%= image_tag "image-home.jpg", width: '100%', height: '25%' %>
    </div>
  </div>
  <div id="absolute" class="form-search">
    <h2>Quel est votre trajet ?</h2>
    <%= simple_form_for :search, url: trips_path, size: 50, method: :get do |f|  %>
      <%= f.input :station_departure, label: 'Gare de départ', required: true, autofocus: true, placeholder: "Départ : " %>
      <%= f.input :station_arrival, label: "Gare d'arrivée", required: true, autofocus: true, placeholder: "Arrivée :" %>
      <%= f.input :departure_at, as: :date,label: "Date du départ", required: true, autofocus: true, html5: true, placeholder: "Date de départ" %>
      <%= f.button :submit, "Rechercher", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<div class="visible-xs visible-sm visible-md">
  <div class="treatout-xs">
    <h1>Réservez votre billet de train</h1>
    <p>Économisez jusqu'à 60% en accédant facilement au tarif de groupe</p>
  </div>
  <div class="form-search-xs">
    <h2>Quel est votre trajet ?</h2>
    <%= simple_form_for :search, url: trips_path, method: :get do |f|  %>
      <%= f.input :station_departure, label: 'Gare de départ', required: true, autofocus: true, placeholder: "Départ : " %>
      <%= f.input :station_arrival, label: "Gare d'arrivée", required: true, autofocus: true, placeholder: "Arrivée :" %>
      <%= f.input :departure_at, as: :date,label: "Date du départ", required: true, autofocus: true, html5: true, placeholder: "Date de départ" %>
      <%= f.button :submit, "Rechercher", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
