<div class="banner">
  <div class="banner-content">
    <h1 class="title"><span>R E S E R V E Z - V O S - B I L L E T S - D E - T R A I N S</span></h1>
    <h1 class="desc">ECONOMISEZ JUSQU'A 60% EN ACCEDANT AU TARIF DE GROUPE</h1>
      <div class="row">
        <div class="col-xs-12 col-sm-10-offset-2 col-md-10-offset-2 ">
          <%= simple_form_for :search, url: trips_path, wrapper: :inline_form, html: { class: 'form-inline' }, method: :get do |f|  %>
            <%= f.input :station_departure, required: true, autofocus: true, placeholder: "Gare de départ" %>
            <%= f.input :station_arrival, required: true, autofocus: true, placeholder: "Gare d'arrivée" %>
            <%= f.input :departure_at, as: :date, required: true, autofocus: true, html5: true, label: false, placeholder: "Date de départ" %>
            <%= f.button :submit, "RECHERCHER", class: "btn-confirm" %>
          <% end %>
      </div>
      <ul class="list-group" id="results">

      </ul>
    </div>
  </div>
<a href="#description"><i class="fa fa-angle-down arrow faa-fast faa-float animated"></i></a>
</div>


