<div class="hidden-xs hidden-sm hidden-md">
  <div class="grid">

    <div class="treatout">
      <h1 id="relative">Réservez votre billet de train</h1>
      <p>Économisez jusqu'à 60% en accédant facilement au tarif de groupe</p>
    </div>
    <div class="image">
      <%= image_tag "image-home.jpg", width: '100%', height: '25%' %>
    </div>
  </div>
  <div id="absolute" class="form-search">
    <h2>Quel est votre trajet ?</h2>
    <%= simple_form_for :search, url: trips_path, size: 50, method: :get do |f|  %>
      <%= f.input :station_departure, label: 'Gare de départ', required: true, autofocus: true, placeholder: "Départ : " %>
      <%= f.input :station_arrival, label: "Gare d'arrivée", required: true, autofocus: true, placeholder: "Arrivée :" %>
      <%= f.input :departure_at, as: :date,label: "Date du départ", required: true, autofocus: true, html5: true, placeholder: "Date de départ" %>
      <%= f.button :submit, "Rechercher", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<div class="visible-xs visible-sm visible-md">
  <div class="treatout-xs">
    <h1>Réservez votre billet de train</h1>
    <p>Économisez jusqu'à 60% en accédant facilement au tarif de groupe</p>
  </div>
  <div class="form-search-xs">
    <h2>Quel est votre trajet ?</h2>
    <%= simple_form_for :search, url: trips_path, method: :get do |f|  %>
      <%= f.input :station_departure, label: 'Gare de départ', required: true, autofocus: true, placeholder: "Départ : " %>
      <%= f.input :station_arrival, label: "Gare d'arrivée", required: true, autofocus: true, placeholder: "Arrivée :" %>
      <%= f.input :departure_at, as: :date,label: "Date du départ", required: true, autofocus: true, html5: true, placeholder: "Date de départ" %>
      <%= f.button :submit, "Rechercher", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="cards">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 slog">
          <h2>Achat groupé de billet de train</h2>
          <p>La grande vitesse à petit prix.</p>
        </div>
      </div>
      <div class="row explains steps">
        <div class="col-lg-4">
          <%= image_tag "step-1.jpg", width: 180, height: 120 %>
          <div class="card">
            <h3>1. Réservez simplement un billet</h3>
            <p>En réservant un billet vous rejoignez un groupement d'achat composé de 10 personnes.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <%= image_tag "step-2.jpg", width: 180, height: 120 %>
          <div class="card">
            <h3>2. Recevez votre billet</h3>
            <p>Vous recevez votre billet par e-mail lorsque 10 personnes ont rejoint le groupement d'achat. Le délai nécessaire est de 5 jours. Vous n'êtes débité qu'à la réception du billet.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <%= image_tag "step-3.jpg", width: 180, height: 120 %>
          <div class="card">
            <h3>3. Prenez votre TGV comme d'habitude</h3>
            <p>C'est économique, simple et rapide.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
