<% trips.each do |trip| %>
  <div class="trip-card">
    <div class="part1">
      <div class="day">
        <%= trip.departure_at.strftime('%a %d %b %Y') %>
      </div>
      <div class="train-number">
        A11234
      </div>
    </div>
    <div class="part2">
      <div class="station-d">
        <div class="place">
          <%= trip.station_departure %>
        </div>
        <div class="time">
          <%= trip.departure_at.strftime('%H:%M') %>
        </div>
      </div>
      <p> <i class="fas fa-arrow-right"></i> </p>
      <div class="station-a">
        <div class="place"> <%= trip.station_arrival %> </div>
        <div class="time"><%= trip.arrival_at.strftime('%H:%M') %></div>
      </div>
    </div>
    <div class="part3">
      <div class="price-sncf">
        <p>Tarif courant : <%= trip.individual_sncf_price_cents %>.00€</p>
      </div>
    </div>
    <div class="part4">
      <div class="price-get">
        <p>Tarif G.E.T : <%= trip.individual_group_price_cents %>.0€</p>
      </div>
    </div>
    <div class="part5">
      <div class="travelers">
        <p>N° of travelers : <%= trip.bookings.count.to_i %></p>
        <p>status: <%= trip.bookings.first.state %></p>
      </div>
      <div class="admin-actions">
        <p>
          <%= link_to "https://www.voyages-train-groupes.sncf.fr/homepage?ID_AGENCE=MBGVSC&CODE_LANGUE=fr&PAYS_DISTRIBUTION=FR", target: '_blank' do %>
            <i class="fas fa-shopping-cart"></i>
          <% end %>
        </p>
        <p>
          <%= link_to admin_trip_path(trip, state: "refused"), method: :patch do %>
            <i class="fas fa-times-circle"></i>
          <% end %>
        </p>
        <p>
          <%= link_to admin_trip_path(trip, state: "paid"), method: :patch do %>
            <i class="fas fa-chevron-circle-down"></i>
          <% end %>
        </p>
      </div>
    </div>
    <div class="part6">
      Timer
    </div>
  </div>
<% end %>

